.modal-body
{
    text-align: center;
}

#headerlogo > img
{
    text-align: left;
    width: 80px;
    height: 80px;
}

#headerleft > img
{
    text-align: left;
}

#headerright
{
    text-align: right;
}


#feedback 
{ 
    font-size: 1.4em; 
}

#selectable .ui-selecting 
{ 
    background: #FECA40; 
}

#selectable .ui-selected 
{ 
    background: #F39814; 
    color: white; 
}

#selectable 
{ 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}

#selectable li 
{ 
    margin: 3px; 
    padding: 1px; 
    float: left; 
    width: 29%; 
    text-align: center; 
    vertical-align: middle; //not sure why not working
    position: relative;
}
.selected{
    background-color:orange;
}


/***** MODAL PROPERTIES *****/
 .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
}
.modal-content iframe {
    border:none;
    padding:0;
    margin:0;
}
.close {
    font-size: 80px;
    margin:-20px 0 0 0;
}
/***** MEDIA QUERIES *****/
 @media only screen and (max-width: 641px) {
    /***** MODAL PROPERTIES *****/
    .modal-body {
        height:100px;
        padding:0;
        margin: 0;
    }
    .modal-content {
        padding:0;
        margin: 0;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 15px;
    }
    .close {
        margin:-12px 0 0 0;
    }
}
@media only screen and (min-width: 768px) {
    /***** MODAL PROPERTIES *****/
    .close {
        font-size: 80px;
       // margin:30px -43px -20px 100px;
    }
}