#gameform .selectContainer .form-control-feedback,
#gameform .inputGroupContainer .form-control-feedback {
    right: -15px;
}

#gametable td:hover
{
    cursor: pointer;
}

#highscorelist img 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#playerlist img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#headerlogo > img
{
    text-align: left;
    width: 80px;
    height: 80px;
}

#headerleft
{
    text-align: left;
}

#headerright
{
    text-align: right;
}
#prefooterleft
{
    text-align: left;
}

#prefootermid
{
    text-align: right;
}

.highlight
{
    background-color: black;
}
